/* Centraliza o título "Login" acima dos campos */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4b007d;
    text-align: center;
}

/* Centraliza o formulário e define uma largura máxima */
.container {
    max-width: 400px; /* Define uma largura máxima para o formulário */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    padding: 20px;
    background-color: #f9f9f9; /* Cor de fundo para o formulário */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para destacar o formulário */
}

/* Estilos dos inputs e botão */
input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%; /* Faz com que o campo ocupe toda a largura do container */
    box-sizing: border-box; /* Garante que padding não afete o width */
}

button {
    background-color: #6e43a3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Faz com que o botão ocupe toda a largura do container */
}

button:hover {
    background-color: #4b007d;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 1px solid #6e43a3;
}
