{% extends 'app_escola/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Página Inicial</h2>
    <div class="event-card">
        <h3>Reunião de Pais</h3>
        <p>Data: 12/09/2024, 14:00h</p>
        <p>Local: Auditório Principal</p>
    </div>
    <div class="event-card">
        <h3>Palestra Motivacional</h3>
        <p>Data: 15/09/2024, 10:00h</p>
        <p>Local: Sala 101</p>
    </div>
    <div class="event-card">
        <h3>Prova de Matemática</h3>
        <p>Data: 18/09/2024, 08:00h</p>
        <p>Local: Sala 305</p>
    </div>
    <div class="event-card">
        <h3>Festa de Encerramento</h3>
        <p>Data: 22/09/2024, 18:00h</p>
        <p>Local: Quadra Poliesportiva</p>
    </div>
{% endblock %}
